<!-- Start: Main -->
<div id="main" class="animated fadeIn">
    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">
        <!-- begin canvas animation bg -->
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>
        <!-- Begin: Content -->
        <section id="content" class="animated fadeIn">
            <div class="admin-form theme-info mw500" style="margin-top: 10%;" id="forgot_pass">
                <div class="row mb15 table-layout">
                    {{!-- <div class="col-xs-6 pln">
                        <a href="/" class="logo">
                            <img src="/images/logo.png" height="55" />
                        </a>
                    </div> --}}

                    <div class="col-xs-6 va-b">
                        <div class="login-links text-right">
                            <a href="/" class="" title="Sign In">Sign In</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info heading-border br-n">
                    <form method="post" action="" id="reset_password_form">
                        <div class="panel-body p15 pt25">

                            {{#if flash.message}}
                            <div id="alert-demo-2"
                                class="alert {{#compare flash.type 'error'}} alert-danger {{/compare}} {{#compare flash.type 'success'}} alert-{{flash.type}} {{/compare}}  light alert-dismissable"
                                style="display: block;">
                                <!--  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> -->
                                <i class="fa fa-info pr10"></i>
                                {{flash.message}}
                            </div>
                            {{else}}
                            <div class="alert alert-micro alert-border-left alert-info pastel alert-dismissable mn">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-info pr10"></i> Enter your <b>Email and Password</b> instructions to
                                reset your password!
                            </div>
                            {{/if}}

                        </div>
                        <!-- end .form-body section -->
                        <div class="panel-footer p25 pv15">

                            <div class="section mn">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section">
                                            <label class="field-label" for="email">Email Id</label>
                                            <label class="field">
                                                <input type="text" placeholder="Enter email" class="gui-input"
                                                    name="email" id="email">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="section">
                                            <label class="field-label" for="password">New Password</label>
                                            <label class="field">
                                                <input type="password" placeholder="Enter new password" id="password"
                                                    class="gui-input" name="password">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="section">
                                            <label class="field-label" for="confirm_password">Confirm Password</label>
                                            <label class="field">
                                                <input type="password" placeholder="Enter confirm password"
                                                    class="gui-input" name="confirm_password">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer text-right">
                                    <button class="ladda-button button btn-primary" data-style="zoom-in"
                                        id="change-password-submit-btn" type="submit"> Change Password </button>
                                </div>
                                <!-- end .smart-widget section -->

                            </div>
                            <!-- end section -->

                        </div>
                        <!-- end .form-footer section -->

                    </form>

                </div>

            </div>

        </section>
        <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->

{{{load_script 'bottom' "/assets/admin-tools/admin-forms/js/jquery.validate.min.js"}}}
<!--call page wise JS-->
<script type="text/javascript">
    $('document').ready(function () {
        new loginEventHandler();
    });
</script>
{{flash.message}}